version: "3.9"

services:
  web_users:
    container_name: ecommerce_api
    build:
      context: ./..
      dockerfile: docker/python/Dockerfile
    environment:
      - DJANGO_SETTINGS_MODULE
    env_file:
      - ../.env
    command: /start-web.sh
    volumes:
      - staticfiles:/code/static
      - mediafiles:/code/media
    restart: always
    expose:
      - 8000
    ports:
      - "8000:8000"
    networks:
      - default


  nginx:
      build: nginx
      container_name: nginx
      restart: on-failure
      ports:
          - "80:80"
      volumes:
        - staticfiles:/code/static
        - mediafiles:/code/media
      depends_on:
          - web_users
      networks:
        - default


volumes:
  staticfiles:
  mediafiles:
